/* styles for award.html pages */

.certificate-meta
.issuer-name {
    font-size: 1.85rem;
    line-height: 1.4;
    font-weight: 400;
    letter-spacing: -0.05rem;
    display: block;
    font-family: 'Source Serif Pro', serif;
}

.certificate-meta .certificate-name {
  font-size: 3rem;
  line-height: 1.2;
  font-family: 'UnifrakturMaguntia', cursive;
  display: block;
}

.certificate-meta {
    margin-bottom: 5px;
}

.subtitle {
    margin: 3px 0px 3px 0px;
}

.description {
    line-height: 1.4;
    margin-bottom: 5px;
    margin-top: 20px;
}

#signature-img {
    margin-bottom: 30px;
    max-height: 120px;
    max-width: 400px;
      margin: 0 auto;
      display: block;
}

.signature-info {
    line-height: 1.2;
}

#verify-button {
    margin-right: 5px;
}

#progress-msg {
    border-bottom: 1px black dashed;
    border-top: 1px black dashed;
    display: none;
    font-size: 12px;
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-top: 12px;
    text-align: left;
}

#verified, #not-verified {
    display: none;
}

.issuer-logo {
    margin-bottom: 30px;
}

.issuer-logo img {
    width: 100%;
}

.certificate-owner {
    margin-bottom: 15px;
}

.certificate-owner h1 {
  font-weight: 800 !important;
  font-size: 4rem !important;
  margin-bottom: 20px;
margin-top: 1.3em;
}

.certificate-meta {
    font-size: 1.85rem;
    font-weight: 400;
    letter-spacing: -0.05rem;
    line-height: 1.4;
}

#verified-icon, #not-verified-icon {
    max-height: 25px;
    vertical-align: middle;
}

.output-txt {
    line-height: 1.5;
}

@media print {
    div.divToPrint {
        left: 20%;
        top: 18%;
        width: 60%;
    }

    a {
        text-decoration: none !important;
    }
}

.cert-background {
  background: url('../img/cert.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: top center;
border-bottom: 5px solid #dfc780;
max-width: 950px;
    margin: 0 auto;
}
