{% extends theme('layout.html') %}

{% block title %}
    Verified Certificate
{% endblock %}

{% block content %}

    <!-- Award -->
    {% block award %}
    <div class="cert-background" style="padding-top:220px">
        <!--<div class=“issuer-certificate”>
            <img src=“{{ award.certImage }}“/>
        </div>-->
        <!--<div class="issuer-logo">
            <img src="{{ award.logoImg }}"/>
        </div>-->
        <div class="certificate-owner text-center">
            <h1>{{ award.name }}</h1>
        </div>

        <div class="certificate-meta text-center">
            <span class="certificate-name">{{ award.title }}</span>
            <span class="issuer-name">{{ award.organization }}</span>
            <span class="date-span">{{ award.subtitle }}</span>
        </div>

        <div class="certificate-description  text-center">
            <div class="row"><div class="col-sm-offset-2 col-sm-8"><p>{{ award.text }}</p></div></div>
        </div>

        {% if award.signatureImg %}
            <div class="certificate-signature">
                <img src="{{ award.signatureImg }}" id="signature-img" alt="Signature"/>
            </div>
        {% endif %}
      </div>
<div class="cert-footer">
<img src="_themes/default/img/cert-footer.jpg" alt="CA Seal">
</div>

    {% endblock %}

    <div class="verify">
        <p>This certificate was digitally signed by {{ award.organization }} and registered on the <span class="chain">{{ award.chain }}</span>
            blockchain.</p>
        <button id="verify-button" value="{{ verification_info }}">Verify certificate</button>

        <span id="verified" class="verified"><img id="verified-icon" src="{{ theme_static('img/verified.png') }}"> Verified </span>
        <span id="not-verified" class="not-verified"><img id="not-verified-icon"
                                                          src="{{ theme_static('img/not-verified.png') }}"> Not Verified </span>
    </div>

    <div>
        <h6 id="progress-msg"></h6>
    </div>

    <div class="issuer-id">
        <strong>Issuer ID:</strong> <span class="issuer-id-url"><a href="{{ award.issuerID }}">{{ award.issuerID }}</a></span>
    </div>

    <div class="blockchain-address">
        <strong>Blockchain Address:</strong> <span class="address"><a
            href="{{ award.transactionIDURL }}">{{ award.transactionIDURL }}</a> </span>
    </div>

{% endblock %}
